@page "/editingredient/{id:int}"
@using WebApp.Data
@using WebApp.Models
@using Microsoft.AspNetCore.Components
@attribute [Authorize(Policy = "Admin")]

@inject NavigationManager NavigationManager
@inject IIngredientService IngredientService

<h3>Edit Ingredient</h3>
<EditForm Model="@ingredientToEdit" OnValidSubmit="@Save">
    <DataAnnotationsValidator/>
    <ValidationSummary/>
    <div class="form-group">
        Name:<br/>
        <InputText rows="10" @bind-Value="@ingredientToEdit.Name"/>
    </div>
    <div class="form-group">
        Calories:<br/>
        <InputNumber rows="10" @bind-Value="@ingredientToEdit.Calories"/>
    </div>
    <div class="form-group">
        Quantity:<br/>
        <InputNumber rows="4" @bind-Value="@ingredientToEdit.Quantity"/>
    </div>
    <div class="form-group">
        Unit of measure:<br/>
        <InputText rows="4" @bind-Value="@ingredientToEdit.UnitOfMeasure"/>
    </div>
    <p class="actions">
        <button class="btn btn-outline-dark" type="submit">Save</button>
    </p>
</EditForm>

@code {
    [Parameter] 
    public int id { get; set; }

    private Ingredient ingredientToEdit;

    private void Save()
    {
        IngredientService.UpdateIngredientAsync(ingredientToEdit);
        NavigationManager.NavigateTo("/manageingredients");
    }
}