@page "/Chat"
@attribute [Authorize]
@using WebApp.Models
@using WebApp.Authentication
@using WebApp.Data
@using Blazored.LocalStorage
@using System.Text.Json


@inject AuthenticationStateProvider AuthenticationStateProvider
@inject NavigationManager NavigationManager
@inject IUserService UserService
@inject IJSRuntime JSRuntime
@inject ILocalStorageService LocalStorage;
@inject IChatService ChatService;

<h3>Chat</h3>

<div class="container">
    <div class="row">&nbsp;</div>
    <div class="row">
        
        <div class="col-2">Message</div>
    </div>
    @if (room == null)
    {
        <p> no room</p>
    }
    else
    {
        <p>@room.Id</p>
        <p>@room.Status</p>
    }
    @if (messages != null)
    {
        foreach (var item in messages)
        {
            <p>@item.Body</p>
        }
    }
    else
    {
        <p>No previous messages</p>
    }
    <div class="row">
        <p id="notification">@notification</p>
    </div>
    <div class="row">&nbsp;</div>
    <div class="row">
        @if (currentUser.SecurityLevel == 2)
        {
            <button @onclick="() => HelpNext()" type="button" class="btn btn-primary" display="none">Help next user</button>
        }
        <div class="col-4"><input type="text" id="messageInput" @bind="@message"/></div>
        <div class="col-4">
            <button type="button" class="btn btn-primary" @onclick="async () => await SendMessage()">@ButtonValue</button>
        </div> 
        <div class="col-4">
            <button type="button" class="btn btn-success" @onclick="async () => await ConnectToChat()">Connect To chat</button>
        </div>
        <div class="col-4">
            <button type="button" class="btn btn-warning" @onclick="async () => await Disconnect()">Disconnect</button>
        </div>
        @*<button @onclick="() => countdownAutoStart()" type="button" class="@ButtonClass" display="none">@ButtonValue</button>*@
    </div>

</div>
<div class="row">
    <div class="col-12">
        <hr />
    </div>
</div>
<div class="row">
    <div class="col-6">
        <ul id="messagesList"></ul>
    </div>
</div>


@code {
    public int Time = 0;
    public int Time2 = 1;
    User currentUser = new User();
    private string connectionCoockie = "connectionC";
    private string connectionId;
    private string message;
    private string notification;
    private string ButtonValue;
    private string ButtonClass = "btn btn-primary";
    private bool isChatting = false;
    private ChatRoom room;
    IList<Message> messages;
    private bool started = false;

    /*public async Task countdownAutoStart()
    {
        ButtonValue = "Starting chatting in " + Time + " seconds";
        while (Time > 0)
        {
            ButtonValue = "Starting chatting in " + Time + " seconds";
            Time--;
            StateHasChanged();
            await Task.Delay(1000);
        }
        await StartChat();
        ButtonClass = "btn btn-success";
        ButtonValue = "Connected";
        isChatting = true;

    }*/
    /*public async Task CountdownFetchChat(bool admin)
    {
        while (Time2 > 0)
        {
            Time2--;
            StateHasChanged();
            await Task.Delay(1000);
        }
        await FetchChat(admin);
        ButtonClass = "btn btn-primary";
        ButtonValue = "Connected";
        isChatting = true;

    }*/

    protected override async Task OnInitializedAsync()
    {
        if (currentUser.SecurityLevel == 2)
        {
            ButtonValue = "Send message";
        }
        else
        {
            ButtonValue = "Ask question";
        }
        
        currentUser = await ((CustomAuthenticationStateProvider) AuthenticationStateProvider).GetUser();
    }

    /*private async Task StartChat()
    {
        
        
        if (currentUser.SecurityLevel == 2)
        {
            await JSRuntime.InvokeVoidAsync("ConnectAdmin", currentUser.id,(currentUser.FirstName+" "+currentUser.LastName));
        }
        CountdownFetchChat(currentUser.SecurityLevel==2);
        
    }*/

    private async Task ConnectToChat(){
        await JSRuntime.InvokeVoidAsync("start");
        await JSRuntime.InvokeVoidAsync("initialise");
        await JSRuntime.InvokeVoidAsync("GoOnlineJS",currentUser.id,currentUser.SecurityLevel==2,(currentUser.FirstName+" "+currentUser.LastName));
        await FetchChat(currentUser.SecurityLevel==2);

    }

    private async Task SendMessage()
    {
        if(!started)
        {
            if (currentUser.SecurityLevel == 1)
            {
                await JSRuntime.InvokeVoidAsync("ConnectUser", currentUser.id,(currentUser.FirstName+" "+currentUser.LastName));
            }
            if (currentUser.SecurityLevel == 2)
            {
                await JSRuntime.InvokeVoidAsync("ConnectAdmin", currentUser.id,(currentUser.FirstName+" "+currentUser.LastName));
            }
            started = true;
            ButtonValue = "Send message";
        }
        await JSRuntime.InvokeVoidAsync("sendMessage", currentUser.id,currentUser.SecurityLevel==2,message,(currentUser.FirstName+" "+currentUser.LastName));
    }

    private async Task HelpNext()
    {
        await JSRuntime.InvokeVoidAsync("HelpNextUser");
    }

    private async Task Disconnect()
    {
        await JSRuntime.InvokeVoidAsync("DisconnectJS",currentUser.id);
    }

    private async Task FetchChat(bool admin)
    {
        connectionId = await LocalStorage.GetItemAsync<string>(connectionCoockie);
        await LocalStorage.SetItemAsync("isAdmin", admin);
        ChatRoom fetched = await ChatService.GetRoom(currentUser.id, admin, connectionId, currentUser.FirstName);
        if (fetched != null)
        {
            string roomJson = JsonSerializer.Serialize(fetched.Messages);
            messages = JsonSerializer.Deserialize<IList<Message>>(roomJson);
            StateHasChanged();
        }
    }

}